body {
  background-image: url("/image/fondo-form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Nunito", sans-serif;
  color: #333;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

h1 {
  font-size: 24px;
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: auto;
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: #dfe6e6;
  color: #646c79;
  margin-bottom: 20px;
  margin-top: 5px;
}

input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

.checkbox-container label {
  margin-bottom: 0;
}

/*BUTTON*/
option {
  margin-bottom: 5px;
}
option:hover {
  background-color: #dddee0;
}

.button {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4caf50;
}
/*---------------------*/
