body {
    background-image: url('/image/wingu-logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  h1 {
    font-size: 25px;
    margin-bottom: 42%;
  }